.body{
    background: #60a3bc;
}
.historiqueinterieur {
    float:left;
    margin-left: 25%;
    width: 20%;
    height: 300px;
    padding: .3rem;
    background-color: #82ccdd;
    font: 1rem 'Fira Sans', sans-serif;
    overflow-y: scroll;
    border-radius: 20px;
    text-align: center;
}

.historiqueexterieur {
    float:right;
    margin-right: 25%;
    width: 20%;
    height: 300px;
    padding: .3rem;
    background-color: #82ccdd;
    font: 1rem 'Fira Sans', sans-serif;
    overflow-y: scroll;
    border-radius: 20px;
    text-align: center;
}

.historiqueinterieur > h1,
.heureTemperature {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.heureTemperature{
    background: right/contain content-box border-box no-repeat
}

.heureTemperature > h2,
.heureTemperature > p {
    margin: .2rem;
    font-size: 1rem;
}

.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}
.titre1 {
    text-align: center;
}

.TemperatureTempsReelleft{
    float: left;
    text-align: center;
    margin-top: 100px;
}
.TemperatureTempsReelright{
    float: right;
    text-align: center;
    width: 200px;
}

.alertinfo {
    text-align: center;
}

.monselect{
    margin-left: 75%;
    border-radius: 20px;
    background-color: #82ccdd;
    height:50px;
}

.afficheTemperature
{
    margin-left: 25%;
    width: 50%;
    background-color: #82ccdd;
    border-radius: 20px;
    text-align: center;
}
.ville{
    background: #60a3bc;
    text-decoration-color: white;
}
::placeholder{ color: black; }

#valeurTemperatureExterieur{
    font-size: 300%;
}

#valeurTemperatureInterieur{
    font-size: 300%;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008CBA;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #38ada9}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*-------------------------------------------------------Code pour format de smartphone-------------------------------------------------------*/

@media screen and (max-width: 767px)
{
    .monselect{
        margin-left: 75%;
        border-radius: 20px;
        background-color: #82ccdd;;
        margin-right: 5%;
    }

    .TemperatureTempsReelleft{
        float: left;
        text-align: center;
        margin-top: 100px;
    }
    .TemperatureTempsReelright{
        float: right;
        text-align: center;
        width: 200px;
    }
    .afficheTemperature
    {
        background-color: #82ccdd;
        border-radius: 20px;
        text-align: center;
        width: 50%;
    }

    .historiqueinterieur {
        float:left;
        margin-left: 25%;
        width: 50%;
        height: 200px;
        background-color: #82ccdd;
        overflow-y: scroll;
        text-align: center;
    }

    .historiqueexterieur {
        float:right;
        margin-right: 25%;
        width: 50%;
        height: 200px;
        background-color: #82ccdd;
        overflow-y: scroll;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

/*--------------------------------------------------------Code pour format de tablette--------------------------------------------------------*/

/*@media screen and (min-width: 768px) and (max-width: 1388px)*/
/*{*/
/*    .body{*/
/*        background: blue;*/
/*    }*/
/*}*/

